$bg-naranja-palido:#feb171;
$bg-naranja-intenso:#FD7E14;
$bg-naranja-masIntenso:#ff9640;
$bg-white:#fff;
$bg-gris-oscuro:#666666;
$bg-gris-claro:#C4C4C4;
$bg-gris-light:#d9d9d9;

$font-family-monserrat:"Georama", sans-serif;
$font-color-gris-oscuro:#666666;
$font-color-white:#fff;
$font-color-gris-claro:#666666;

$width:45%;
$widthRedesSociales:1080px;
$heightRedesSociales:1080px;

// Break point
$min-1080:1080px;



